<!- CRO Home Page />
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRO</title>
  
  <!- All of the header information that is the same between pages />
  <include href="view/includes/header.inc.html"/>
  
</head>
<body>
  <!- Include for the top nav bar />
  <include href="view/includes/nav-top.inc.html"/>
  
  <!- Body of the page />
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <include href="view/includes/volunteerinfo.inc.html"/>
      </div>
      <div class=col-md-8">
        <h1>YAY IT'S CRO</h1>
      </div>
    </div>
  </div>
  <!- End of body />
  
  <!- Include for the footer />
  <include href="view/includes/footer.inc.html"/>

</body>
</html>
